@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-hue: 0;
    --primary-saturation: 80%;
    --primary-lightness: 59%;
    --primary: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
    --foreground: hsl(0, 0%, 100%);
    --background-hue: 200;
    --background-saturation: 15%;
    --background-lightness: 7%;
    --background: hsl(var(--background-hue), var(--background-saturation), var(--background-lightness));
    --background-lighter: hsl(var(--background-hue), var(--background-saturation), calc(var(--background-lightness) + 6%));
    --border-radius: 0px;
    --nav-animation-time: 500ms;
    overflow-y: scroll;
    scrollbar-color: var(--primary) transparent;
    scrollbar-width: thick;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
}


* {
    font-size: 1rem;
}

body {
    font-family: 'Roboto';
    color: var(--foreground);
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

main>* {
    padding-top: 150px;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

h2 {
    font-size: 3.75rem;
    font-weight: 400;
}

h3 {
    font-size: 3rem;
    font-weight: 200;
}

h4 {
    font-size: 2rem;
    font-weight: 200;
}

section {
    padding: 2rem 1rem;
}

.col, .row {
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
}

.centered {
    margin: auto;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid>* {
    flex-grow: 1;
    width: 20%;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.play {
    background-image: url('../../@icons/play-button.svg');
}

.pause {
    background-image: url('../../@icons/pause-button.svg');
}


.play, .pause {
    content: '';
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    aspect-ratio: 1/1;
}

.border {
    max-width: calc(100% - 2px);
    max-height: calc(100% - 2px);
    border: 1px solid var(--primary);
}

.grow {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 1);
    transition: transform 500ms, box-shadow 200ms;
}

.grow:hover {
    filter: unset;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
}

.lift {

    transition: transform 500ms;
}

.lift:hover {
    transform: translateY(-5%);
}

a {
    text-decoration: none;
    color: var(--primary);
    position: relative;
    font-size: inherit;
    transition: font-weight 200ms;
    width: fit-content;
}

a:after, .underline:after, dropdown:before {
    content: '';
    border-bottom: 3px solid var(--primary);
    position: absolute;
    max-width: 0px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: max-width 500ms;
}

a:hover {
    font-weight: 900;
}

a:hover:after, .underline:hover:after, dropdown:hover:before, .underline[show]::after {
    max-width: 100%;
}

p.\31 {
    font-size: 1.5rem;
}

p.\32 {
    font-size: 1.3rem;
}

p.\33 {
    font-size: 1.2rem;
}

p.\34 {
    font-size: 1rem;
}

.primary {
    color: var(--primary);
}

.glow {
    box-shadow: 0 0 15px 5px var(--primary);
}

.glow-hover {
    transition: box-shadow 500ms;
    box-shadow: 0 0 0px 0px var(--primary);
}

.glow-hover:hover {
    box-shadow: 0 0 15px 5px var(--primary);
}

button {
    color: var(--foreground) !important;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    font-weight: 600;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 1);
    width: calc(100% - 2rem);
    border-radius: var(--border-radius);
    transition: filter 200ms, transform 500ms, box-shadow 500ms, background 500ms, color 200ms;
}

button.primary {
    background-color: var(--primary);
}

button.secondary {
    background-color: var(--foreground);
    color: var(--background) !important;
}

button:hover {
    filter: contrast(1.1) brightness(.7);
}

button.outline {
    background-color: transparent;
    outline: 2px solid var(--primary);
}

button.outline:hover {
    filter: unset;
    background: var(--primary);
}

button.outline.secondary {
    color: var(--foreground) !important;
    outline-color: var(--foreground);
}

button.outline.secondary:hover {
    background-color: var(--foreground);
    color: var(--background) !important;
}

.landing {
    display: flex;
    position: relative;
    max-width: 100vw;
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    min-height: 800px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -30vh;
}

.landing::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), var(--background));
}

.landing>* {
    z-index: 2;
    padding: 2rem;
}

.video-player {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.video-player>video {
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
}

.video-player .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    transform: translateY(4rem);
    transition: transform 500ms;
    z-index: 2;
}

.video-player:not(.show) .controls {
    transform: translateY(4rem) !important;
}

.video-player:not(.show) {
    cursor: none;
}

.video-player .controls i {
    cursor: pointer;
    margin-right: 15px;
    font-size: 1.5rem;
    width: 1.2rem;
    opacity: .7;
    transition: opacity 200ms;
}

.video-player .controls i:hover {
    opacity: 1;
}

.video-player .controls>* {
    margin: 0 1rem;
}

.video-player .controls .video-track-timestamp .total-timestamp {
    font-weight: 200;
}

.video-player .controls .video-track-timestamp>span {
    margin: 0 10px;
}

.video-player .controls .control-buttons {
    width: 100%;
}

.video-player .controls .progress {
    position: absolute;
    width: calc(100% - 2rem);
    height: 5px;
    min-height: 5px;
    top: -5px;
    left: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, .5);
    margin: 0;
    cursor: pointer;
    transition: min-height 200ms, top 200ms;
}

.video-player .controls:hover .progress {
    min-height: 20px;
    top: -20px;
}

.video-player .controls .progress .track {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background-color: var(--primary);
    margin: 0;
}

.video-player .controls .progress .hover {
    max-width: 0%;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    opacity: .75;
    filter: contrast(.5);
    background-color: var(--primary);
    margin: 0;
}

.video-player .controls .progress .preview {
    position: absolute;
    top: calc(-50px - 1rem);
    background: rgba(0, 0, 0, .5);
    padding: 1rem;
}

.video-player.show::after {
    opacity: 1;
}

.video-player::after {
    content: '';
    position: absolute;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(transparent, black);
    z-index: 1;
    opacity: 0;
    transition: opacity 500ms;
    pointer-events: none;
}

.video-player:hover .controls, .video-player.show .controls {
    transform: translateY(0px);
}

.video-player .controls .progress .track {
    max-width: 0px;
    transition: max-width 500ms linear;
}

toggle {
    position: relative;
    cursor: pointer;
    margin-left: 5rem;
    height: 1rem;
    align-items: center;
    display: flex;
    width: fit-content;
    padding: 1rem;
    text-align: center;
}

toggle::before, toggle::after {
    content: '';
    position: absolute;
    left: -4rem;
    height: 1rem;
    border-radius: var(--border-radius);
}

toggle::before {
    background: var(--background);
    filter: brightness(3);
    width: 4rem;
}

toggle::after {
    background: var(--primary);
    width: 2rem;
    transition: left 200ms;
}

toggle[value="true"]::after {
    left: -2rem;
}

dropdown {
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    text-align: start;
    padding: 1rem 0;
    display: flex;
}

dropdown.primary {
    background-color: var(--primary);
    color: var(--foreground);
}


dropdown:hover {
    filter: unset;
}

dropdown::after {
    content: '';
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid var(--foreground);
    position: absolute;
    right: 1rem;
    top: 50%;
    transition: transform 300ms;
}

dropdown dropdown-name {
    align-self: center;
    padding-right: 2rem;
}

dropdown dropdown-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--background-lighter);
    left: 0;
    top: calc(100% + 5px);
    width: 100%;
    height: fit-content;
    max-height: 0;
    overflow-y: scroll;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 1);
    transition: box-shadow 300ms, max-height 300ms;
}

dropdown:focus dropdown-body {
    max-height: 10rem;
    box-shadow: 0 0px 15px 0px rgba(0, 0, 0, .5);
    border-radius: clamp(1px, var(--border-radius), 10px);
}

dropdown:focus::after {
    transform: rotateZ(-180deg);
}

dropdown dropdown-body dropdown-item {
    padding: 1rem;
    cursor: pointer;
    background: transparent;
    transition: background 100ms;
}

dropdown dropdown-body dropdown-item.selected {
    background: var(--background);
}

dropdown dropdown-body dropdown-item:hover {
    background: hsl(var(--background-hue), var(--background-saturation), calc(var(--background-lightness) + 3%));
}

.spinner {
    width: 100px;
    display: block;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    animation-duration: .5s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    margin: 2rem;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.panel {
    aspect-ratio: 3/3;
    width: 20%;
    min-width: 375px;
    background: var(--background-lighter);
    margin: 2rem;
    padding: 0 1rem;
    border-radius: clamp(-1px, var(--border-radius), 50px);
    flex-grow: 1;
}

.panel.no-bg {
    background-color: transparent;
}


.panel .name {
    border-bottom: 1px solid var(--primary);
    font-weight: 700;
    height: 10%;
}

.panel .content {
    font-weight: 300;
    height: 50%;
    overflow: scroll;
    max-height: 50%;
}

.panel.flip {
    perspective: 1000px;
    background: transparent;
    padding: 0;
}

.panel.flip .inner {
    position: relative;
    height: 100%;
    display: flex;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.panel.flip:focus .inner {
    transform: rotateY(180deg);
}

.panel.flip .inner .front, .panel.flip .inner .back {
    position: absolute;
    width: calc(100% - 2rem);
    height: 100%;
    padding: 0 1rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: var(--background-lighter);
}

.panel.flip .inner .back {
    transform: rotateY(180deg);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: background 500ms;
}

.popup.open {
    pointer-events: unset;
    background-color: rgba(0, 0, 0, .75);
    overflow: scroll;
}

.popup .popup-body {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    min-height: 300px;
}

.popup .popup-body>* {
    max-width: calc(100% - 4rem);
    margin: 2rem;
}

.popup .popup-body.title>.title {
    max-width: 100%;
    margin: unset;
}

.popup .curtain {
    transition: transform 500ms 100ms;
    transform: translateY(-100vh);
}

.popup.open .curtain {
    transform: translateY(0);
}

.popup .fade {
    transition: opacity 200ms 100ms;
    transform: translateY(00);
    opacity: 0;
}

.popup.open .fade {
    opacity: 1;
}

.popup .popup-body.centered {
    width: unset;
    height: unset;
}

.popup .popup-body.centered.large {
    top: 10%;
    left: 5%;
    bottom: 10%;
    right: 5%;
}

.popup .popup-body.centered.small {
    top: 30%;
    left: 15%;
    bottom: 30%;
    right: 15%;
}

.popup .popup-body.title {
    border: 1px solid var(--primary);
}

.popup .popup-body.title .title {
    width: 100%;
    background-color: var(--primary);
    height: 3rem;
    margin-top: 0;
    text-align: center;
    font-size: 2.5rem;
    box-shadow: 0 -4px 0 10px hsl(var(--primary-hue), calc(var(--primary-saturation) - 15%), calc(var(--primary-lightness) - 25%));
}

.loading {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background);
    opacity: 0;
    z-index: 999999;
    /* transition: opacity 500ms; */
}


.loading h1 {
    margin: 0;
}

.loading.active {
    opacity: 1;
}

nav {
    position: relative;
    height: 100px;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
}

nav .brand {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

nav nav-items {
    width: 100%;
    display: flex;
    align-items: center;
}

nav nav-items.left {
    justify-content: start;
}

nav nav-items.centered {
    justify-content: center;
}

nav nav-items.right {
    justify-content: end;
    padding-right: 2rem;
}

nav nav-items .nav-item {
    width: fit-content;
    padding: 1rem 2rem;
}

nav.fixed {
    position: fixed;
}

nav.shadow, nav.fixed.animated.collapsed.shadow {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .5);
}

nav.fixed.animated.shadow {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0);
}

nav.fixed.animated {
    max-height: 200px;
    height: 200px;
    background-color: transparent;
    transition: background var(--nav-animation-time), max-height var(--nav-animation-time), transform var(--nav-animation-time);
}

nav.fixed.animated .brand {
    font-size: 3rem;
    transition: font-size var(--nav-animation-time);
}


nav.fixed.animated.collapsed, nav.fixed:not(.animated) {
    max-height: 100px;
    background-color: var(--background-lighter);
}

nav.fixed.animated.collapsed .brand {
    font-size: 2rem;
}

nav.fixed.hidden{
    transform: translateY(-200px);
}

vr {
    content: '';
    display: inline-block;
    width: 1px;
    min-height: 50px;
    height: 100%;
    background-color: white;
    margin: 1rem;
    opacity: .5;
}